@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

/* white: '#fdfdfd',
  gold: '#ddbd54',
   */

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

a {
  font-size: 3.5rem;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ddbd54;
}

button {
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #ddbd54;
  background: transparent;
  color: #fdfdfd;
  transition: all 0.5s ease;
}
button:hover {
  background: #ddbd54;
  color: #000;
}

h2 {
  font-weight: lighter;
  font-size: 6rem;
  margin: 1rem;
}

h3 {
  color: #fdfdfd;
  font-size: 4rem;
  margin: 0;
}

h4 {
  font-weight: bold;
}

span {
  font-weight: bold;
  color: #ddbd54;
}

p {
  padding: 3rem 0rem;
  color: #fdfdfd;
  font-size: 2.5rem;
  line-height: 150%;
}

.layout {
  width: 100%;
  background: black;
  color: #fdfdfd;
  min-height: 80vh;
}

nav {
  min-height: 10vh;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #000;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.socialbar {
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  position: fixed;
}
.social-links {
  padding: 20px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
}

.description {
  flex: 1;
  padding: 0rem 5rem;
}

.image {
  flex: 1;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.hide {
  overflow: hidden;
}

.faq {
  display: block;
  padding: 5rem 10rem;
}

.faq-line {
  background: #fdfdfd;
  height: 0.2rem;
  margin: 2rem 0rem;
  width: 100%;
}

.question {
  padding: 3rem 0rem;
  cursor: pointer;
}

.answer {
  padding: 2rem 0rem;
}
